/* font section */
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.primaryFont{
    font-size: 3rem;
}
.secondaryFont{
    font-size: 1rem;
}
.displayFlex{
    display: flex;
}
.primaryColor{
    color: #FFFFFF;
}
.color1{
    color: rgba(255, 255, 255, 0.5);
}
.brand{
    color: #E6533C;
    font-size: 2.25rem;
    font-weight: bolder;
}
.btnPrimary{
    background-color: #E6533C;
    border-radius: 2rem;
    color: white;
    padding: 1rem 2.75rem;
    font-size: 1rem;
}
.btnScondery{
        background-color: #191616;
        border-radius: 2rem;
        color: white;
        padding: 1rem 2.75rem;
        border: 1px solid white;
        font-size: 1rem;
}
.primaryBg{
    background-color: rgba(17, 17, 17, 1);
}

.roundImage {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
/* nav bar */
.navBar{
    justify-content: space-between;
}
.navItems{
    color: #FFFFFF;
    list-style: none;
    margin-right: 2.25rem;
}
#shape{
    
}
.navlinks{
    align-items: center;
    border: rgba(255, 255, 255, 0.1) 2px solid ;
    color: #FFFFFF;
    border-radius: 10px;
    font-weight: 600;
    margin-right: 2rem;
}
.navLink{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: normal;
}
.banner{
    gap: 5rem;
}
.bannerContent{
    width: 35rem;
    margin-left: 11rem;
}
/* main section */
/* habbity Section */
.habbitSection{
    margin-top: 10rem;
}
.habbits{
    text-align: center;
}
 .habbitExample{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 2rem;
 }

 .habbitDescription{ 
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
 }
/* Run an Extra Mile Easily  */
.extraMile{
    margin-top: 10rem;
    background-color: #222222;
    border: 2px solid rgba(255, 255, 255, 0.1) ;
    padding: 2rem;
    border-radius: 1rem;
    justify-content: space-between;
}
 .runningMan{
    text-align: end;
    height: 50%;
    width: 50%;
    border-radius: 1rem;
 }
 /* training and exersice section */
 .trainingSection{
    margin-top: 10rem;
 }
 .trainingDescription{
    font-size: 1rem;
    width: 70%;
 }
  .ex1{
    height:10rem ;
    width: 15rem;
 } 
 .ex2{
    height: 10rem;
    width: 32rem;
 }
 .ex3{
    height: 10rem;
    width: 17rem;
 }
 .ex4{
    height:10rem ;
    width: 26rem;
 }
 .ex5{
    height: 10rem;
    width: 18rem ;
 }
 .ex6{
    height: 10rem;
    width: 21rem;
 } */
 .trainingPic{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 100%;
    max-height: 30rem;
    align-items: center;
 }
 /* BMI Calculator section */
 .BMI{
    margin-top: 10rem;
    margin-bottom: 5rem;
    margin-right: 10rem;
    justify-items: center;
    text-align: center;
 }
 .calculator{
    padding: 5%;
    background-color: rgba(255, 255, 255, 0.1);
    height: 30rem;
    width: 100%;
 }
 table {
    width: 30%;
    border-collapse: 2px solid rgba(255, 255, 255, 0.1);
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}
 th, td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0.80rem;
}
/* footer section */